<h1> List of photos </h1>

<hr>
<form action="/insert_photo">
<label for="image_url"> Image </label> <input id="image_url" name="query_image"> </input>
<label for="caption"> Caption </label> <textarea id="caption" name="query_caption"> </textarea>
<label for="owner_id"> Owner ID </label> <input id="owner_id" name="query_owner"> </input>
<button> Add photo </button>
</form>
</hr>

<table border="1">
<tr>
<th>Image</th>
<th>Caption</th>
<th>Owner</th>
<th>Posted</th>
<th></th>
</tr>

<% @list_of_photos.each do |photo| %>
<tr>
<td>
<img src="<%= photo.image %>">
</td>

<td>
<%= photo.caption %>
</td>

<td>
<%= photo.poster.username %>
</td>

<td>
<%= photo.created_at %>
</td>

<td>
<a href="/photos/<%= photo.id %> "> Show details </a>
</td>

</tr>
<% end %>
</table>
